<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer #drawer mode="side">
    <mat-list>
      <mat-list-item
        *ngFor="let challenge of challenges"
        (click)="selectChallenge(challenge.id)"
        class="challenge-list-item"
      >
        {{ challenge.title }}
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>
        {{ drawer.opened ? "chevron_left" : "chevron_right" }}
      </mat-icon>
    </button>
    <app-challenge-details
      [challengeId]="selectedChallengeId"
    ></app-challenge-details>
  </mat-drawer-content>
</mat-drawer-container>
