<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer #drawer mode="side">
    <mat-list *ngIf="challenges.length">
      <ng-template ngFor let-challenge [ngForOf]="challenges">
        <mat-list-item
          (click)="selectChallenge(challenge.id)"
          class="challenge-list-item"
          matRipple
        >
          {{ challenge.title }}
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-template>
    </mat-list>
    <mat-list-item
      *ngIf="!challenges.length"
      routerLink="/workshop"
      class="challenge-list-item"
      matRipple
    >
      <mat-icon>add</mat-icon>
    </mat-list-item>
  </mat-drawer>
  <mat-drawer-content>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>
        {{ drawer.opened ? "chevron_left" : "chevron_right" }}
      </mat-icon>
    </button>
    <app-challenge-details
      [challengeId]="selectedChallengeId"
    ></app-challenge-details>
  </mat-drawer-content>
</mat-drawer-container>
