<mat-card class="task">
  <mat-card-header>
    <mat-card-title>{{ task.title | uppercase }}</mat-card-title>
    <mat-card-subtitle>
      {{ task.type }}
      <span> &#183; </span>
      {{ task.createTime | date }}
    </mat-card-subtitle>
    <mat-card-subtitle>{{ task.description }}</mat-card-subtitle>
  </mat-card-header>
  <app-spinner *ngIf="isTaskPictureLoading"></app-spinner>
  <img
    mat-card-image
    (load)="onTaskPictureLoaded()"
    [style.display]="isTaskPictureLoading ? 'none' : ''"
    [src]="task.pictureUrl"
  />
</mat-card>
