<ng-template [ngIf]="challenge">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ challenge.title | uppercase }}</mat-card-title>
      <mat-card-subtitle>
        {{ challenge.state }}
        <span>&#183;</span>
        {{ challenge.createTime | date }}
      </mat-card-subtitle>
      <mat-card-subtitle>
        {{ challenge.description }}
      </mat-card-subtitle>
    </mat-card-header>
    <app-spinner *ngIf="isChallengeWallpaperLoading"></app-spinner>
    <img
      mat-card-image
      [style.display]="isChallengeWallpaperLoading ? 'none' : ''"
      (load)="onChallengeWallpaperLoaded()"
      [src]="challenge.pictureUrl"
    />
    <mat-card-content class="task-container">
      <app-task-details
        *ngFor="let task of challenge.tasks"
        [task]="task"
      ></app-task-details>
    </mat-card-content>
  </mat-card>
</ng-template>
